<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompareNETObjects" version="3.01.0.0" targetFramework="net452" />
  <package id="FakeItEasy" version="1.25.1" targetFramework="net452" />
  <package id="FluentAssertions" version="3.2.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="paramore.brighter.commandprocessor" version="3.0.94" targetFramework="net452" />
  <package id="Polly" version="2.2.1" targetFramework="net452" />
  <package id="xunit" version="1.9.2" targetFramework="net452" />
</packages>