<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SMTPHostAddress" value="YourSMTPHostAddress" />
  <add key="SMTPHostPort" value="YourSMTPHostPort" />
  <add key="SMTPHostUsername" value="YourSMTPHostUsername" />
  <add key="SMTPHostPassword" value="YourSMTPHostPassword" />
</appSettings>
